<!DOCTYPE html>
<html>
  <head>
    <title>ZBT Saferide Map</title>
    <script src="/static/jquery-2.1.0.min.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js"></script>
    <script src="/static/script.js"></script>

    <link href="https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css" rel="stylesheet" />
    <link href="/static/style.css" rel="stylesheet" />
  </head>
  <body>
    <div id="map"></div>

    <div id="legend-content" style="display: none;">
      <div class="my-legend">
        <div class="legend-title">Saferide Boston West</div>
        <br>
        <div class="legend-scale">
          <div>The current time is</div>
          <div class="info" id="time"></div>
          <div class="prediction">The next Saferide arrives in</div>
          <div class="info prediction" id="nextmin"></div>
          <div class="info prediction" id="nexttime"></div>
        </div>
      </div>
    </div>
  </body>
</html>

